body {
  position: relative;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #383838;
  color: white;
  width: 100%;
  padding: 60px 0;
}
.footer__list-li {
  margin: 0 15px;
}

.footer__list-li:first-child {
  font-size: 25px;
  font-weight: 600;
}

.footer__list-li a {
  text-decoration: none;
  color: white;
}
